// @theme "/usr/share/rofi/themes/Pop-Dark.rasi"

configuration {
    drun-show-actions: true;
    application-fallback-icon: "/usr/share/icons/Papirus-Dark/64x64/apps/terminal.svg";
}

@theme "./themes/spotlight-dark.rasi"